

<div class="Container" fxLayout=column fxFLex=100 fxLayoutAlign="space-around stretch">

<form fxLayout=column  fxLayoutGap="10px" #loginForm="ngForm" (ngSubmit)="OnSubmit(email.value,password.value)">
  <div fxLayout=row>

    <div class="mat-headline">Logga in </div>
  </div>


  <div fxLayout=row fxLayoutGap="10px" fxLayoutAlign="space-center center">
      <mat-form-field appearance="outline">
        <mat-label>E-post</mat-label>
        <input matInput placeholder="example@example.com"  #email name="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  
      </mat-form-field>

    </div>

  
      <div fxLayout=row fxLayoutGap="10px" fxLayoutAlign="space-center center">
      <mat-form-field appearance="outline" >
        <mat-label>Lösenord</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" #password autocomplete="on" name="password" placeholder="password" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

    </div>
  
 



 <a routerLink="" fxLayout="row"> Har du glömt lösenordet? </a>

 <div fxLayout=row fxLayoutGap="15px" fxLayoutAlign="space-center center">

  <div fxLayout=column>

    <button [disabled]="!loginForm.valid" mat-raised-button color="primary" fxLayout="row"  type="submit">Logga in</button>

  </div>
  <div fxLayout=column>

    <button routerLink="signup" mat-raised-button color="accent" fxLayout="row">Skapa nytt konto</button>

  </div>

  
</div>
  
 

</form>
<div fxLayout=row>
  <div *ngIf="isLoginError" class="red-text center error-message">
    <i class="material-icons">error</i> Incorrect email or password
</div>




</div>

</div>

