.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo{

}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}
.pages{
  min-height: 100vh;
}

.websiteName2{
  color: rgb(0, 253, 253);
}
.websiteName{
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #000000;
}


.example-spacer {
  flex: 1 1 auto;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

mat-toolbar,.mat-sidenav{
  background-color:rgb(26, 44, 54);
  color: rgb(255, 255, 255);
padding: 0.2%;

}

.btnCategory{

  color:rgb(255, 255, 255);
  text-align: center;
  padding: auto;
  background-color: rgba(49, 72, 114, 0);
  border-radius: 0px 0px 10px 10px;

}


.mat-sidenav{
padding: 0.8%;

}
mat-toolbar{
  border-bottom: solid 1.5px rgb(255, 99, 133) ;


}


.btnMenu{
  color: rgb(27, 48, 68);
  margin: 1%;
}
.btnMenu:hover{
  background-color: rgba(138, 247, 233, 0.39);
  color: rgb(8, 94, 94);
  border-bottom: 2px solid violet;
  border-image:   linear-gradient(to right, rgb(68, 196, 255) 25%, gold 25%, gold 50%,rgb(253, 125, 125) 50%, rgb(226, 92, 92) 75%, rgb(47, 192, 192) 75%) 5;
}

.sidenav-container{
  background-color: rgb(255, 255, 255);
}

a{
  text-decoration: none;
}

@media screen and (max-width: 600px) {

  .websiteName, .kategoriTitle{
    display: none
    ;
  }

}


a{
  margin: 0 auto;
}
