<form fxLayout="column" fxLayoutGap="20px" fxFlex="70" #userRegistrationForm="ngForm" (ngSubmit)=OnSubmit(userRegistrationForm)>

<div class="mat-display-2" fxLayout="row">Gå med</div>
<a mat-dialog-close>
  <mat-icon class="iconCancel">cancel</mat-icon>
 </a>
<mat-form-field appearance="fill">
    <mat-label>Fullnamn</mat-label>
    <input matInput placeholder="skriver.." name="first_name" #first_name="ngModel" [(ngModel)]="user.first_name" required>
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>exepmel. Mats Eriksson</mat-hint>
  </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>E-post</mat-label>
      <input matInput placeholder="example@example.com"  name="email" #email="ngModel" [(ngModel)]="user.email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Välja ett lösenord</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password1" #password1="ngModel" [(ngModel)]="user.password1" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>repetera lösenord</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password2" #password2="ngModel" [(ngModel)]="user.password2" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <a routerLink="">Användarvillkor</a>
      <a routerLink="">cookiespolicy</a>
      <mat-checkbox formControlName="serviceForm.boleanControl" class="example-margin">Jag godkänner alla villkor</mat-checkbox>

      <div class="mat-body-2"> Genom att klicka på Gå med godkänner du våra användarvillkor. Läs mer om hur vi samlar in, använder och delar dina data i vår datapolicy och hur vi använder cookies och liknande teknologi i vår cookiespolicy. Du kan komma att få sms-aviseringar från oss och du kan välja bort detta när som helst. </div>


      <button mat-raised-button color="primary" type="submit" >Gå med</button>

    </form>
