@import "~bootstrap/dist/css/bootstrap.css";

.example-spacer {
  flex: 1 1 auto;
}


button{
  margin-left: 1%;
  border: 1px solid white;
  border-radius: 4px;
}
.popContainer{
  min-width: 900px;
  min-height: 40vh;
}
#btnSpara{
background-color: rgb(107, 255, 223);
color: rgb(1, 54, 13);
}
#btnAvbryt{
background-color: rgb(255, 158, 179);
color: brown;
}

textarea{

  min-height: 30vh;
}
